body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003430;
}

h1, p {
    margin: 0;
}

.quiz-header {
    background-image: url('../assets/imgs/Barra_Fundo.png');
    max-width: 400px;
    margin: 0px auto 40px auto;
    color: white;
    padding: 25px 10px;
}

.header-content {
    margin: 0px 5%;
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Alinha o título à esquerda e a barra à direita */
    align-items: center; /* Centraliza verticalmente */
}

.quiz-header h1 {
    font-size: 20px;
    margin: 0; 
}

#progress-bar-container {
    width: 40%;
    height: 20px;
    background-color: #94a66f;
    border-radius: 10px;
    margin: 0 ;
    float: right;
    overflow: hidden;
  }
  
  #progress-bar {
    width: 0%; /* Início vazio */
    height: 100%;
    background-color: #f9f175;
    border-radius: 10px 0 0 10px; /* Mantém as bordas arredondadas */
    transition: width 0.5s ease-in-out;
  }

.quiz-container {
    max-width: 400px;
    margin: 20px 5%;
    background-color: #f9f175;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-image {
    background-color: #bfbfbf;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid #107710;
    border-radius: 5px;
    overflow: hidden; 
}

.quiz-image img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.quiz-question {
    background-color: #94a66f;
    color: #fff370;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz-option {
    background-color: #4a7643;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    text-align: left;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-option:hover {
    background-color: #94a66f;
}

.option-letter {
    background-color: #bfe3bf;
    color: #107710;
    font-weight: bold;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.quiz-footer {
    max-width: 400px;
    margin: 20px 5%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-btn {
    background-color: #107710;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-btn:hover {
    background-color: #10BB10;
}

#mascot {
    max-width: 150px;
    max-height: 70px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }

  #map-container {
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow: hidden;
  }
  
  #close-map {
    color: #555;
  }
